/NLP_Proposal.pdf
para_jepa_best_model.pt
*.pt
wandb/
__pycache__/
*.log
reports/
HYPERPARAMETER_TUNING_README.md
*.png
*.csv
*.json
hugging_face.py
*.pdf
.DS_Store
./reports
./example_reports
./oldLog
./wandb
./trials.txt
